<div class="container p-3">
    <div class="card col-12 p-5 my-4 mx-4">
        <a class="reset-a" routerLink="/product-details" routerLinkActive="active">
            <div class="row m-2 my-2 justify-content-center align-items-center">
                <div class="col-2 p-0 ">
                    <img class='mx-auto card-img-top' src="https://i.imgur.com/pjITBzX.jpg" width="auto" height="auto" />
                </div>
                <div class="col-4 align-items-center">
                    <h2 class="font-weight-bold">Yail wrist watch</h2>
                    <p class="pt-1">$299</p>
                </div>
                <div class="col-4 align-items-center d-flex justify-content-end">
                    <a href="#" class="pt-3 btn btn-transparent"><i class="fi fi-rr-trash" style="font-size:25px"></i></a>
                </div>
            </div>
        </a>
        <hr>
        <a class="reset-a" routerLink="/product-details" routerLinkActive="active">
            <div class="row m-2 my-2 justify-content-center align-items-center">
                <div class="col-2 p-0 ">
                    <img class='mx-auto card-img-top' src="https://i.imgur.com/pjITBzX.jpg" width="auto" height="auto" />
                </div>
                <div class="col-4 align-items-center">
                    <h2 class="font-weight-bold">Yail wrist watch</h2>
                    <p class="pt-1">$299</p>
                </div>
                <div class="col-4 align-items-center d-flex justify-content-end">
                    <a href="#" class="pt-3 btn btn-transparent"><i class="fi fi-rr-trash" style="font-size:25px"></i></a>
                </div>
            </div>
        </a>
        <hr>
        <a class="reset-a" routerLink="/product-details" routerLinkActive="active">
            <div class="row m-2 my-2 justify-content-center align-items-center">
                <div class="col-2 p-0 ">
                    <img class='mx-auto card-img-top' src="https://i.imgur.com/pjITBzX.jpg" width="auto" height="auto" />
                </div>
                <div class="col-4 align-items-center">
                    <h2 class="font-weight-bold">Yail wrist watch</h2>
                    <p class="pt-1">$299</p>
                </div>
                <div class="col-4 align-items-center d-flex justify-content-end">
                    <a href="#" class="pt-3 btn btn-transparent"><i class="fi fi-rr-trash" style="font-size:25px"></i></a>
                </div>
            </div>
        </a>
        <hr>
        <a class="reset-a" routerLink="/product-details" routerLinkActive="active">
            <div class="row m-2 my-2 justify-content-center align-items-center">
                <div class="col-2 p-0 ">
                    <img class='mx-auto card-img-top' src="https://i.imgur.com/pjITBzX.jpg" width="auto" height="auto" />
                </div>
                <div class="col-4 align-items-center">
                    <h2 class="font-weight-bold">Yail wrist watch</h2>
                    <p class="pt-1">$299</p>
                </div>
                <div class="col-4 align-items-center d-flex justify-content-end">
                    <a href="#" class="pt-3 btn btn-transparent"><i class="fi fi-rr-trash" style="font-size:25px"></i></a>
                </div>
            </div>
        </a>
        <hr>
        <!-- checkout button -->
        <div class="row pt-5 d-flex flex-row-reverse">
            <div class="col-2">
            <a href="#" class="btn btn-darken">Checkout</a>
           </div>
        <!-- Empty Wish List button -->
       
          <div class="col-2 pr-0 mr-0">
            <a href="#" class="btn btn-darken">Empty Cart</a>
           </div>
        </div>
        <!-- Wish List -->
    </div>
   
</div>