<footer class="page-footer font-small teal pt-4 bg-lighten">
    <div class="container-fluid text-center text-md-left">
      <div class="row justify-content-center align-items-center">
        <!-- <div class="col-md-3 mb-md-0 mb-3">
            <h5 class="text-uppercase font-weight-bold">Footer text 2</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum
              commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id
              excepturi hic.</p>
          </div> -->
        <div class="col-md-4 mt-md-0  py-4">
          <a class="navbar-brand" routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
            <img height="140px" src="../../../assets/logo.png"/>
          </a>
          <p class="pt-3">Your Place to be with latest Fashion Trends</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-6 mb-md-0 mb-3">
          <ul class="list-unstyled text-uppercase ">
            <li class="nav-item ">
              <a class="nav-link text-darken"routerLink="/"  routerLinkActive="active">Your Favorite Pieces</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-darken" routerLink="/products" routerLinkActive="active">Look for Products</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-darken" routerLink="/about-us" routerLinkActive="active">About Us</a>
            </li>
          </ul>
          <!-- <h5 class="text-uppercase font-weight-bold">Footer text 2</h5>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum
            commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id
            excepturi hic.</p> -->
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3 bg-darken">© 2022 Copyright: Fashion Store
    </div>
  </footer>
