<div class="container p-3 my-4">
    <div class="row justify-content-center">
      
      <!-- Right side of page (picture) -->
     <div class="col-lg-6 col-xl-5 text-center text-lighten">
         <img class="img-fluid mb-4" width="320" src="../../../assets/Fashionista.svg" alt="" style="transform: rotate(4deg)">
        <h1 class="mb-4">Your Order's Placed 🤩 👏</h1>
        <!-- <h4 class="mb-4">Thanks, You're Welcomed again</h4> -->
        <p class="lead text-muted">Thanks, You're Welcomed again</p>
      </div>
    </div>
 
</div>