<div class="container p-3">
    <div class="row my-5 mx-auto justify-content-center">
            
            <div *ngFor="let product of products" class="card col-3 pb-0 m-2 my-3 mx-4"> 
                <a class="reset-a" routerLink="/product-details/{{product._id}}" routerLinkActive="active">
                <img class='mx-auto card-img-top' src="https://i.imgur.com/pjITBzX.jpg" width="auto" height="auto" />
                <div class="card-body text-center mx-auto">
                    <h5 class="card-title font-weight-bold">{{product.name}}</h5>
                    <p class="card-text">{{product.price}}$</p> 
                    
                </div>
              </a>
              <div class="card-footer bg-transparent pb-1 mb-0 mx-auto">
                <a (click)="addToCart('621f49c415aa2b1b3202114f',product._id)" class="btn btn-darken">ADD TO CART</a>&nbsp;&nbsp;
                <a (click)="addToWishlist('621f49c415aa2b1b3202114f',product._id)" class="pt-3 btn btn-transparent"><i class="fi fi-rr-heart" style="font-size:25px"></i></a>
            </div>
            </div>
            
    </div>
</div>

<!-- https://freefrontend.com/bootstrap-product-cards/ -->
<!-- https://bbbootstrap.com/snippets/ecommerce-single-product-add-cart-button-21268162 -->