<div class="container p-3 my-4">
       <div class="col-6 mx-auto">
        <div class="card">
            <div class="col-2 pl-5">
                &nbsp;&nbsp; <a routerLink=".." class="pt-3 btn btn-transparent-light"><i class="fi fi-rr-arrow-small-left" style="font-size:30px"></i></a>
            </div>
          <div class="card-body p-5 pt-1">
            <h3 class="mb-4">Add New Product</h3>
            <!-- <form action="index.html"> -->
              <div class="form-floating mb-3">
                <input  #name class="form-control" id="pname" type="text" placeholder="watch" required>
                <label for="pname">Product Name</label>
              </div>
              <div class="form-floating mb-3">
                <input  #desc class="form-control" id="pdescription" type="text" placeholder="gold watch" required>
                <label for="pdescription">Product Description</label>
              </div> 
              <div class="form-floating mb-3">
                <input #price class="form-control" id="price" type="text" placeholder="150" required>
                <label for="price">Price</label>
              </div>
              <div class="form-group d-flex justify-content-end">
                <button (click)="addProduct(name.value, desc.value, price.value)" class="btn btn-lighten" id="addProduct" type="button" name="addProduct" >Add Product</button>
              </div>
            <!-- </form> -->
          </div>
        </div>
      </div>  
  </div>