<div class="container p-3">
    <div *ngIf="products.length!=0" class="card col-12 p-5 my-4 mx-4">
         <!-- Empty Wish List button -->
         <div class="row pb-5">
            <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-darken">Empty Wish List</a>
           </div>
        </div>
        <!-- Wish List -->
        <a *ngFor="let product of products" class="reset-a" routerLink="/product-details" routerLinkActive="active">
            <div class="row m-2 my-2 justify-content-center align-items-center">
                <div class="col-2 p-0 ">
                    <img class='mx-auto card-img-top' src="https://i.imgur.com/pjITBzX.jpg" width="auto" height="auto" />
                </div>
                <div class="col-4 align-items-center">
                    <h2 class="font-weight-bold">{{product.name}}</h2>
                    <p class="pt-1">{{product.price}}$</p>
                </div>
                <div class="col-4 align-items-center d-flex justify-content-end">
                    <a href="#" class="pt-3 btn btn-transparent"><i class="fi fi-rr-trash" style="font-size:25px"></i></a>
                </div>
            </div>
            <hr>
        </a>
<!-- [ngStyle]="{'background-image': getUrl()}" -->
<!-- getUrl(){
    return "url('assets/images/home_back.jpeg')";

  } -->            
    </div>
    <div *ngIf="products.length==0" class="card col-12 p-5 my-4 mx-4">
        There are no products in Your Wishlist yet, go to products page and look for Great Products
    </div>
</div>